<div class="recipe-detail" *ngIf="recipe">
  <div class="recipe-sidebar">
    <h2 class="recipe-title" >{{ recipe.title | uppercase }}</h2>
    <img class="recipe-img" src="{{recipe.image}}" alt="">
    <ul class="ingredients-list">
      <li class="ingredient-item" *ngFor="let ingredient of recipe.extendedIngredients">
        <img class="ingredient-img" src="{{ingredient.image}}" alt="">
        <p>{{ingredient.originalString}}</p>
      </li>
    </ul>
  </div>
  <div class="recipe-main">
    <h3 class="directions-title">Direcciones</h3>
    <ul *ngIf="recipe.instructions === null">
      <p>Opps... No se puede encontrar la direccion.</p>
    </ul>
    <ul *ngFor="let instructions of recipe.analyzedInstructions">
      <li *ngFor="let steps of instructions.steps">
        <p>{{steps.step}}</p>
      </li>
    </ul>
    <p>Para mas detalles, visita <a href="{{recipe.sourceUrl}}" target="_blank">{{recipe.sourceName}}</a></p>
    <button (click)="goBack()">regresar</button>
  </div>
  <div class="additional-info">
    <ul class="nutrition-list">
      <h1>Informacion Nutricional</h1>
      <p>Vegetariano: {{recipe.vegetarian}}</p>
      <p>Vegano: {{recipe.vegan}}</p>
      <p>Libre de Gluten : {{recipe.glutenFree}}</p>
      <p>Libre de Lacteos: {{recipe.dairyFree}}</p>
      <p>
        elección saludable: {{recipe.veryHealthy}}</p>
      <p>Weight Watcher Smart Points: {{recipe.weightWatcherSmartPoints}}</p>
      <hr>
      <p>Libre de calorias</p>
      <p>Grasa: {{recipe.nutrition.caloricBreakdown.percentFat}}%</p>
      <p>Carbohidratos: {{recipe.nutrition.caloricBreakdown.percentCarbs}}%</p>
      <p>Proteina: {{recipe.nutrition.caloricBreakdown.percentProtein}}%</p>
      <hr>
      <li *ngFor="let nutrient of recipe.nutrition.nutrients">
        <p>{{nutrient.title}}: {{nutrient.amount}}{{nutrient.unit}} ({{nutrient.percentOfDailyNeeds}}% DV)</p>
      </li>
    </ul>
  </div>
</div>
